
/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}


/*custom styles*/

.js-video-container {
position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);}

.responsive {
  width: 100%;
  height: auto;
	border-radius: 6px;

}






.lightblue {
	background-color: ;
	color: powderblue;
	text-align: center;
		border-bottom-style: inset;
	border-width: 15px;
		border-style: outset;
	border-color: steelblue;
		border-radius: 6px;

	outline-style: groove;
	outline-color: aqua;
}

.darkblue {
	background-color: ;
	text-align: center;
		border-bottom-style: inset;
	border-width: 2px;
		border-radius: 6px;
		border-style: outset;
	border-color: darkslateblue;
height: 225px;
	outline-style: groove;
	outline-color: aqua;
}

.black {
	font-family: ;
	color:white;
	font-size: 2em;

}
.white {
	font-family: ;
	color:white;
	font-size: 2em;
}
